
// Adapted from http://codepen.io/KrisOlszewski/pen/Dnktj
.Ripple
	position: relative

/**
 * We have to use the padding-bottom trick so that the height and width are
 * the same size. Setting the height to 100% may cause the ripple to be
 * non-circular if the container does not have the same height and width.
 */
.Ripple__inner
	$translate: translate(-50%, -50%)
	background: rgba(black, 0.1)
	border-radius: 50%
	display: inline-block
	position: absolute
	transform: $translate
	padding-bottom: 0%
	user-select: none
	width: 0%

	&.is-expanding
		animation: a-ripple 0.7s

+keyframes(a-ripple)
	0%
		opacity: 0

	40%
		opacity: 1

	100%
		padding-bottom: 220% /* [1] */
		width: 220%
		opacity: 0
