
// Adapted from http://codepen.io/KrisOlszewski/pen/Dnktj
.Ripple
	position: relative

.Ripple__inner
	background: rgba(black, 0.1)
	border-radius: 50%
	display: inline-block
	padding-bottom: 0%
	position: absolute
	transform: translate(-50%, -50%)
	user-select: none
	width: 0%

	&.is-expanding
		animation: a-ripple 0.7s
