/**
 * Styles for titles and headings
 */

.Title
	+title

.Title--small
	+title('small')
	color: #555

.Title--alternate
	+title('alternate')

.Title--dark
	color: color('foreground')



.Title__caption
	color: #bdbdbd
	font-family: $heading-font-family
	font-size: 0.55em
	margin-left: 3px
	letter-spacing: rem(3px)
	line-height: inherit

.Title__caption--light
	color: #ddd

.Title--underline
	display: inline-block
	padding-right: 80px
	padding-bottom: 0
	position: relative
	margin-bottom: $base-spacing

	&:before
		content: ''
		border-bottom: 2px solid rgba(color('link'), 0.4)
		height: 2px
		transition: transform 2s $ease-out-quint, opacity 0.4s ease-in
		transform: scale(0)
		transform-origin: 0 50%
		width: 100%
		+position(absolute, null null -6px 0)

	&.is-seen:before
		transform: scale(1)
		opacity: 1

	@media (max-width: breakpoint('large'))
		padding-right: 0



@media (max-width: breakpoint('medium'))
	.Title__caption
		display: block
		margin-top: 0.3em
		margin-left: 0
		line-height: 1.6

	.Title--underline
		display: block
		transform: scale(1)



.Paragraphs
	pass

.Paragraphs--small > p
	font-size: rem(15px)

.Paragraphs--light > p
	color: #504F4D



.Quote
	font-family: Cambria
	font-size: rem(20px)
	font-style: italic
	line-height: 1.4