---
layout: default
title: Anthony Koch
description: Hello, my name is Anthony Koch. I'm a front-end developer specializing in responsive design, web performance, and custom web development.

hero:
  caption: Front-End Developer
  description: Hello, my name is Anthony Koch. I'm a front-end developer specializing in responsive design, web performance, and custom web development. I'm a lover of JavaScript, Python, and simple code.
  display_social: true
  more: true

scripts:
  - |
      <script defer src="/assets/javascripts/pages/home.js"></script>
---

<section class="Band Band--small u-collapse-bottom">
	<div class="row row--xxlarge">
		<h2 class="Title Title--alternate Title--dark">
			<span>Codepen</span>
			<span class="Title__caption">
				My various codepen projects and experiments
			</span>
		</h2>
	</div>

	<div class="CodepenProjects">
		<div class="row row--xxlarge">
			<ul class="CodepenPreviewList">
				{% for item in site.data.codepen_projects %}
					<li class="CodepenPreviewList__item">
						{% include components/codepen_preview.html %}
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section>
	<div class="Projects">
		<header class="Projects__header">
			<div class="row row--xxlarge">
				<h3 class="Title Title--alternate">
					<span>Github Projects</span>
					<span class="Title__caption Title__caption--light">
						Various plugins and scripts
					</span>
				</h3>
			</div>
			<div class="row row--xlarge">
				<p class="Projects__header__quote">
					Connecting the editor and GulpJS for error reporting
				</p>
			</div>
		</header>

		<ul class="ProjectList">
			<li class="ProjectList__item row row--xlarge">
				<div class="Project Project--first">
					{% assign project = site.data.github_projects.editorconnect %}

					<div class="Project__media  u-size6of12 u-size12of12@xlarge">
						<a href="{{ project.links.repository }}" class="Project__link">
							<img
								class="Project__image"
								src="{{ project.image.url | prepend:site.images }}"
								alt="{{ project.image.alt | prepend:site.images }}">
						</a>
					</div>
					<div class="Project__details
								Project__details--is-inside-first
								u-size6of12 u-size12of12@xlarge">

						<div class="Project__title-container">
							<div class="Project__subtitle">
								{{ project.subtitle }}
							</div>
							<h3 class="Project__title">
								<a href="{{ project.links.repository }}" class="Project__title__link">
									{{ project.title }}
								</a>

								{% if project.icon %}
									<div class="Project__icon u-foreground-node-fg">
										<svg class="svg-icon">
											<use xlink:href="#{{ project.icon.name }}"></use>
										</svg>
									</div>
								{% endif %}
							</h3>
						</div>
						<div class="Project__description  Paragraphs Paragraphs--light  u-collapse-last">
							<p>
								{{ project.description }}
							</p>
						</div>
					</div>
				</div>
			</li>

			<li class="ProjectList__item">
				<div class="Project Project--other  Band">
					<div class="row row--xlarge">
						<h2 class="Title Title--alternate Title--dark  u-text-center">
							<span>Other Notable Projects</span>
						</h2>

						<ul class="ProjectOtherList">
							<li class="ProjectOtherList__item">
								<h3 class="Project__title">
									<a href="https://github.com/anthonykoch/bladejs" class="ProjectOtherTitle">BladeJS</a>
								</h3>
								<div class="Paragraphs Paragraphs--light Paragraphs--small">
									<p>
										An implementation of Laravel's Blade templating engine in JavaScript. This project was written purely for fun on my off days. It took a couple of months as I also wrote Blade Expression at the same time.
									</p>
								</div>
							</li>
							<li class="ProjectOtherList__item">
								<h3 class="Project__title">
									<a href="https://github.com/anthonykoch/blade-expression" class="ProjectOtherTitle">
										Blade Expression
									</a>
								</h3>
								<div class="Paragraphs Paragraphs--light Paragraphs--small">
									<p>
										A parser for JavaScript expressions created according to the ES6 specification. This parser was written for BladeJS so that Blade could output errors at compile time. It continues to be a work in progress.
									</p>
								</div>
							</li>
						</ul>
					</div>

					<div class="u-text-center">
						<a href="/blade" class="Button Button--large">
							Try BladeJS live
						</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>
