---
layout: default
title: Anthony Koch
description: Hello, my name is Anthony Koch. I'm a front-end developer specializing in responsive design, web performance, and custom web development.
hero:
  caption: Front-End Developer
  description: Hello, my name is Anthony Koch. I'm a front-end developer specializing in responsive design, web performance, and custom web development. I'm a lover of JavaScript, Python, and simple code.
  display_social: true
  more: true
---

<section class="Band Band--medium  u-collapse-b">
	<div class="row row--xxlarge">
		<h2 class="Title Title--small">
			<span>Codepen</span>
			<span class="Title__caption">
				My various codepen projects and experiments
			</span>
		</h2>
	</div>

	<div class="codepen-projects-section">
		<div class="row row--xxlarge">
			<ul class="CodepenPreviewList">

				{% for item in site.data.codepen_projects %}
					<li class="CodepenPreviewList__item">
						{% include components/codepen_preview.html %}
					</li>
				{% endfor %}

			</ul>
		</div>
	</div>
</section>

<section>
	<div class="Projects">
		<header class="Projects__header">
			<div class="row row--xxlarge">
				<h3 class="Projects__header__title  Title Title--small">
					<span>Github Projects</span>
					<span class="Title__caption Title__caption--light">
						Various plugins and scripts
					</span>
				</h3>
			</div>
		</header>
		<ul class="ProjectList">
			{% for project in site.data.open_source %}
				<li class="ProjectList__item  row row--xxlarge">
					{% include project.html %}
				</li>
			{% endfor %}
		</ul>
	</div>
</section>

{% comment %}
	<div class="Background-gray  col-6of12 col-12of12@large">
		<section class="row row--medium  Band  collapse-last-para">
			<h2 class="Title Title--small">A little about myself</h2>
			<p>
				Well, as I said before, I'm a front-end developer, which if you simplify it down, it basically means I build websites. I have a wealth of knowledge in HTML, CSS, responsive design, as well as some knowledge in server side scripting languages such as PHP and NodeJS.
			</p>
			<p>
				I'm a big fan of JavaScript, Node, and Python, and have built some open source projects using them. If you'd like to see some of my code, I have some cool stuff on my <a href="{{ site.data.social.github.link }}">Github</a> and <a href="{{ site.data.social.codepen.link }}">Codepen</a>.
			</p>
			<p>
				P.S. I also do a bit of blogging, where I write mostly on topics surrounding front-end development. Be sure to check it <a href="/blog">out</a>.
			</p>
		</section>
	</div>
{% endcomment %}