<div class="Project">
  <div class="Project__media">
    <a href="{{ project.links.repository }}" class="Project__link">
      <img
        class="Project__image"
        src="{{ project.image.url | prepend:site.images }}"
        alt="{{ project.image.alt | prepend:site.images }}">
    </a>
  </div>
  <div class="Project__details">
    <div class="Project__quote">{{ project.quote }}</div>

    <h3 class="Project__title  u-flex u-items-center">
      <a href="{{ project.links.repository }}" class="Project__title__link">
        {{ project.title }}
      </a>

      {% if project.icon %}
        <div class="Project__icon {{ project.icon.class }}">
          <svg class="svg-icon">
            <use xlink:href="#{{ project.icon.name }}"></use>
          </svg>
        </div>
      {% endif %}
    </h3>
    <div class="Project__caption  Paragraphs Paragraphs--light  u-collapse-last">
      <p>
        {{ project.caption }}
      </p>
    </div>
  </div>
</div>
