
<template data-template="br-file-list-item">
	<li class="br-FilesList-item">
		<div class="br-File">
			<div class="br-File-name  js-br-file-name-text"></div>
			<ul class="br-File-actions">
				<li class="br-File-icon br-File-icon--delete  js-br-file-icon-delete">
					<i class="br-File-iconInner  ion-ios-close-empty"></i>
				</li>
				<li class="br-File-icon br-File-icon--edit  js-br-file-icon-edit">
					<i class="br-File-iconInner  ion-edit"></i>
				</li>
			</ul>
		</div>
	</li>
</template>

<div class="br-FilesPane br-FilesPane--is-showing  js-br-files-pane">
	<ul class="br-FilesList  js-br-files-list"></ul>
</div>
