<div class="br-Sidebar">
  <ul class="br-SidebarList">
    <li class="br-SidebarList-item br-SidebarList-item--newFile  js-br-button-new-file">

      <input
        class="br-InputNewFile  js-br-input-new-file"
        type="text"
        placeholder="Enter filename"
        ref="inputNewFile"
        v-model="newFileName"
        v-bind:class="{ 'br-InputNewFile--is-showing': isInputNewFileFocused }"
        @focusin="isInputNewFileFocused = true"
        @focusout="isInputNewFileFocused = false"
        @keyup.esc="isInputNewFileFocused = false"
        @keyup.enter="addFile">

      <button
        class="br-SidebarButton"
        tabindex="-1"
        ref="buttonNewFile"
        :class="{ 'br-SidebarButton--is-focused': isInputNewFileFocused }"
        @click="$refs.inputNewFile.focus()">
        <div class="br-SidebarButton-iconWrapper">
          <i class="br-SidebarButton-icon  ion-ios-plus-empty"></i>
        </div>
        <span class="br-SidebarButton-text">New File</span>
      </button>
    </li>

    <li class="br-SidebarList-item  js-br-view-code">
      <button
        class="br-SidebarButton"
        tabindex="0"
        ref="buttonCode"
        :class="{ 'br-SidebarButton--is-active': activePane === 'code' }"
        @keyup.enter="updateActivePane({ value: 'code' })"
        @click="updateActivePane({ value: 'code' })">
        <div class="br-SidebarButton-iconWrapper">
          <i class="br-SidebarButton-icon br-SidebarButton-icon--code ion-code"></i>
        </div>
        <span class="br-SidebarButton-text">Code</span>
      </button>
    </li>

    <li class="br-SidebarList-item br-SidebarList-item--seeFiles  js-br-view-files">
      <button
        class="br-SidebarButton"
        tabindex="0"
        ref="buttonViewFiles"
        :class="{ 'br-SidebarButton--is-active': activePane === 'files' }"
        @keyup.enter="updateActivePane({ value: 'files' })"
        @click="updateActivePane({ value: 'files' })">
        <div class="br-SidebarButton-iconWrapper">
          <i class="br-SidebarButton-icon  ion-document-text"></i>
        </div>
        <span class="br-SidebarButton-text">View Files</span>
      </button>
    </li>

    {% comment %}
    <li class="br-SidebarList-item br-SidebarList-item--seeFiles  js-br-view-files">
      <button
        class="br-SidebarButton"
        tabindex="0"
        ref="buttonViewFiles"
        :class="{ 'br-SidebarButton--is-active': activePane === 'about' }"
        @keyup.enter="updateActivePane({ value: 'about' })"
        @click="updateActivePane({ value: 'about' })">
        <div class="br-SidebarButton-iconWrapper">
          <i class="br-SidebarButton-icon br-SidebarButton-icon--about  ion-help-circled"></i>
        </div>
        <span class="br-SidebarButton-text">About</span>
      </button>
    </li>
    {% endcomment %}
  </ul>
</div>
