<div class="br-Sidebar">
	<ul class="br-SidebarList">
		<li class="br-SidebarList-item br-SidebarList-item--newFile  js-br-button-new-file">
			<input type="text" class="br-InputNewFile  js-br-input-new-file" placeholder="Enter filename">
			<div class="br-SidebarButton">
				<div class="br-SidebarButton-iconWrapper">
					<i class="br-SidebarButton-icon  ion-ios-plus-empty"></i>
				</div>
				<span class="br-SidebarButton-text">New File</span>
			</div>
		</li>

		<li class="br-SidebarList-item  js-br-view-code">
			<div class="br-SidebarButton">
				<div class="br-SidebarButton-iconWrapper">
					<i class="br-SidebarButton-icon  ion-code"></i>
				</div>
				<span class="br-SidebarButton-text">Code</span>
			</div>
		</li>

		<li class="br-SidebarList-item br-SidebarList-item--seeFiles  js-br-view-files">
			<div class="br-SidebarButton">
				<div class="br-SidebarButton-iconWrapper">
					<i class="br-SidebarButton-icon  ion-document-text"></i>
				</div>
				<span class="br-SidebarButton-text">View Files</span>
			</div>
		</li>

		<!-- <li class="br-SidebarList-item">
			<div class="br-SidebarButton">
				<div class="br-SidebarButton-iconWrapper">
					<i class="br-SidebarButton-icon  ion-gear-a"></i>
				</div>
				<span class="br-SidebarButton-text">Settings</span>
			</div>
		</li> -->
	</ul>
</div>