---
layout: default
---

<!-- Post Image Styles -->
<style>
	.Post__image {
		{% for key in page.image.style %}
			{{ key[0] }}: {{ key[1] }};
		{% endfor %}
	}
</style>

<!-- Post -->
<article class="Post" itemscope itemtype="http://schema.org/Article">
	<meta itemprop="datePublished" content="{{ post.date | date:'%F' }}">
	<meta itemprop="author" content="{{ page.author}}">
	<meta itemprop="image" content="{{ page.image.url }}">
	<meta itemprop="headline" content="{{ page.title }}">

	<div class="Post__container">
		<header class="Post__header">
			<h1 itemprop="name" class="Post__title  fadeIn">
				<a itemprop="url" href="{{ page.url }}" class="Link Link--dark">
					{{ page.title }}
				</a>
			</h1>
			<ul class="Post__meta-list  fadeIn">
				<li class="u-font-meta" itemprop="datePublished">
					{{ page.date | date:'%B %d, %Y'}}
				</li>
				<li>
					<a href="#disqus_thread" class="u-font-size-large">
						<i class="ion-chatbubbles"></i>
					</a>
				</li>
			</ul>
		</header>
		<div itemprop="articleBody" class="Post__body  fadeIn" style="animation-delay: 0.3s">
			{{ content }}
		</div>
	</div>
</article>

<!-- Disqus Comments -->
<div class="[ Row Row--large ]  disqus_thread">
	<div id="disqus_thread"></div>
</div>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname  = 'anthonykoch';
    var disqus_identifier = {{ page.path | remove:'_posts/' | jsonify }};
    var disqus_title      = {{ page.title | jsonify }};

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
